* {
    font-family: Roboto;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;

}

.container {
    display: flex;
    flex-direction: column;
}

.blue {
    background-color: #1F2937;
    color: white;
    padding-bottom: 64px;
}

ul {
    display: flex;
    align-items: center;
    gap: 16px;
    list-style-type: none;
    margin: 0;
    padding: 0; 
}

a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    
}

#top-button {
    background-color: #3882F6;
    border: 2px solid #3882F6;
    border-radius: 8px;
    color: #F9FAF8;
    padding: 4px 24px;
}

#main-image {
    border-radius: 10px;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 0 64px;
    padding-bottom: 64px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 400px;
}

.text h2 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.text p {
    font-size: 18px;
    color: #e5e7eb;
}

.face {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 64px;
}

.white {
    align-items: center;
    gap: 32px;
    padding-bottom: 32px;
}

.white h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.entry {
    width: 200px;
}

.entry img {
    border: 2px solid #3882F6;
    width: 200px;
    height: auto;
    border-radius: 8px;
}

.entry p {
    text-align: center;
}

.information {
    flex-direction: row;
    gap: 32px;
    padding-bottom: 16px;
}

.grey {
    /* do with flex:1 its sizing */
    background-color: #e5e7eb;
    align-items: center;
    padding: 64px 128px;

}

.quote-area p {
    width: 600px;
    font-style: italic;
    font-size: 36px;
    color: #1f2937;

}

.quote-area h3 {
    align-self: end;
}

.button {
    align-items: center;
}

.action-area{
    flex-direction: row;
    align-items: center;
    background-color: #3882F6;
    padding: 0 128px;
    margin: 64px 0;
    gap: 32px;
    color: #F9FAF8;
    border: 2px solid #3882F6;
    border-radius: 10px;
    height: 150px;
}

.paragraph p, .paragraph h2 {
    margin: 0;
    padding: 0;
}

#bottom-button {
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    color: #F9FAF8;
    padding: 4px 24px;
}


.footer {
    text-align: center;
    padding-bottom: 4px;
    color: #F9FAF8;
    font-size: 18px;
}
