body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;

}

.container {
    display: flex;
    flex-direction: column;
}

.blue {
    background-color: #1F2937;
    color: white;
    padding-bottom: 16px;
}

ul {
    display: flex;
    align-items: center;
    gap: 16px;
    list-style-type: none;
    margin: 0;
    padding: 0; 
}

a {
    color: white;
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 0 32px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 300px;
}

.face {
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.white {
    align-items: center;
}

.entry {
    width: 200px;
}

.information {
    flex-direction: row;
    gap: 32px;
    padding-bottom: 16px;
}

.grey {
    /* do with flex:1 its sizing */
    background-color: lightgrey;
    align-items: center;
    padding: 64px 128px;

}



.quote-area p {
    width: 600px;
}

.quote-area h3 {
    align-self: end;
}



.action-area{
    flex-direction: row;
    align-items: center;
    background-color: #3882F6;
    padding: 0 128px;
    margin: 64px 0;
    gap: 32px;
    color: #F9FAF8;
    border: 2px solid #3882F6;
    border-radius: 1ch;
    height: 150px;
}

.paragraph p, .paragraph h2 {
    margin: 0;
    padding: 0;
}

#bottom-button {
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    border-radius: 1ch;
    color: #F9FAF8;
    padding: 4px 24px;
}


.footer {
    text-align: center;
}
